.tooltip .textview {
	color: InfoText !important;
	background-color: InfoBackground !important;
	padding: 0px;
}

/* Styles for the view tooltips */
.textviewTooltip {
	font-family: "InconsolataEmbedded", monospace;
	font-size: 12pt;
	background-color: InfoBackground;
	color: InfoText;
	padding: 2px 2px 3px 2px;
	border-radius: 3px;
	border: 1px solid black;
	z-index: 1000; /* must be 1000 or greater else floats behind resizable handles */
	position: fixed;
	overflow: hidden;
	white-space: pre;
}
.textviewTooltip em {
	font-style: normal;
	font-weight: bold;
}
.tooltip .annotationLine.currentLine {
	background-color: transparent;
}