.stripes > span {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image:
     -webkit-gradient(linear, 0 0, 100% 100%,
        color-stop(.25, rgba(255, 255, 255, .4)),
        color-stop(.25, transparent), color-stop(.5, transparent),
        color-stop(.5, rgba(255, 255, 255, .4)),
        color-stop(.75, rgba(255, 255, 255, .4)),
        color-stop(.75, transparent), to(transparent)
     );
  background-image:
    -webkit-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, .4) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -moz-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, .4) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -ms-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, .4) 75%,
        transparent 75%,
        transparent
     );
  background-image:
    -o-linear-gradient(
      -45deg,
        rgba(255, 255, 255, .4) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, .4) 50%,
        rgba(255, 255, 255, .4) 75%,
        transparent 75%,
        transparent
     );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size:    50px 50px;
  background-size:         50px 50px;
  -webkit-animation: move 1.5s linear infinite;
  overflow: hidden;
}
.complete > span {
  -webkit-animation: none;
}
@-webkit-keyframes move {
    0% {
       background-position: 0 0;
    }
    100% {
       background-position: 50px 50px;
    }
}
.progress-bar-text {
  z-index:9999;
  font-weight: bold;
}