@import "../../orion/textview/textview.css";
@import "../../orion/textview/rulers.css";
@import "../../orion/textview/annotations.css";
@import "../../orion/textview/tooltip.css";
@import "../../examples/textview/textstyler.css";
@import "../../examples/editor/htmlStyles.css";
@import "../../orion/editor/default-theme.css";

.treetable {
overflow: auto;
/*
font-family: sans-serif;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 12px;
*/
/*
	border-spacing: 0;
	min-width: 600px;
width:100%;
*/
}

.favoritesTable {
	border-collapse: separate;
//	border-spacing: 2;
	overflow-x: hidden; /* because it is placed inside a div with overflow scrollbars */
}

.secondaryColumn {
	color: #ffffff;	
	//padding-right: 8px;
}

.primaryColumn {
	color: #024892;
	text-decoration: none;
}

.checkColumn {
	padding: 0;
}

/*
.mainpane {
	border-top: 1px solid #ebebeb;
    background: #FFFFFF;
	overflow: auto;
}
*/

.mainPadding {
//	padding-left: 4px;
//	padding-top: 4px;
}

/*
tr.treeTableRow td:first-child {
	padding-left: 16px !important;
}

.treetable th {
	font-weight: bold;
}

.treetable td {
	padding: 16px 0 16px 16px;
}

.treetable th {
	padding: 16px 0 0 16px;
}
*/

