
body {
  padding-top: 70px;
}

.moz img {
  width: 128px;
  float: right;
}

.logo {
  width: 48px;
  margin: -8px 4px -8px 0;
}

#sidebar {
  font-size: 12px;
}

@media (min-width: 768px) {
  #sidebar.sticky {
    position: fixed;
    top: 90px;
    width: 261px;
  }
  .navbar-nav .succinct {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  #sidebar.sticky {
    width: 213px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  #sidebar, #sidebar.sticky {
    position: fixed;
    max-height: calc(100% - 50px);
    overflow: auto;
    width: 25%;
    top: 50px;
    left: 0;
  }

}

@media (max-width: 767px) {
  .navbar-nav .verbose {
    display: none;
  }
  .navbar-nav {
    margin: 5px 10px;
    position: absolute;
    right: 0px;
  }
  .nav > li > a {
    padding: 10px;
  }
  .logo {
    width: 32px;
  }
  #sidebar.sticky {
    position: relative;
    z-index: 1;
  }
}

@media (max-width: 480px) {
  .navbar {
    font-size: 70%;
  }
  .navbar-brand small {
    display: none;
  }
}

.docs section {
  padding-top: 70px;
  margin-top: -70px;
  border-bottom: 1px solid gray;
}

.navbar-brand {
  font-size: 180%;
  margin: -2px 0 -3px;
}
.navbar-brand small {
  font-size: 50%;
}
.navbar-nav > li {
  float: left;
}
.navbar-header {
  float: left;
}
.navbar-nav {
  float: left;
}

.row:after {
  content: '';
  display: block;
  clear: left;
  margin-bottom: 2em;
}

.jumbotron {
  margin-top: -21px;
  padding-bottom: 64px;
}

footer {
  margin-top: 2em;
}

/* clearfix */
.c:after{
  content: "";
  display: block;
  clear: both;
}

/* centers demo items in the viewport for demo site;
 * exclude appbar because it should be at the top of the demo;
 * exclude layout because setting absolute position on flexbox causes
 * weirdness in FF18 where the flex item render doesn't override the
 * height 0 fix in layout.css */
.demo-wrap .demo > *:only-child:not(x-appbar):not(x-layout){
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.demo-wrap .demo > form{
    box-shadow: 1px 1px 4px grey;
    background-color: rgba(255,255,255,0.5);
    background-image: none;
    padding: 0.5em;
}

.grayshade {
}

.download {
  background: url('../img/zip.png') no-repeat;
  background-size: 64px;
  font-size: 120%;
  display: inline-block;
  height: 64px;
  margin: 5px 0 0;
  padding-left: 90px;
  white-space: nowrap;
}
.download h3 {
  margin: .3rem 0;
  text-indent: -.1rem;
  font-size: 150%;
}
.demo {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  width: 240px;
  height: 360px;
  margin: 1em auto;
  border: 10px solid #eee;
  box-shadow: 0 0 0 3px #222;
  border-width: 40px 15px 60px;
  border-radius: 20px;
  position: relative;

  background: #f2d6b9 url("../img/retina_wood.png") repeat;
}

/* fake phone button */
.demo:after {
  content: '';

  position: absolute;
  width: 30px;
  height: 30px;
  top: 103%;
  left: 43.75%;
  left: calc(50% - 15px);
  background: #d8d8d8;
  border-radius: 20px;
  box-shadow: 0 0 0 2px #222;
}

.demo[data-src] {
  background: none;
}

.demo-left {
  margin: 1em 0;
}

.demo iframe {
  border: 0;
  border-radius: 2px;
  box-shadow: 0 0 0 3px #222;
  height: 480px;
  opacity: 0;
  -webkit-transform: scale(.75);
  transform: scale(.75);
  -webkit-transform-origin: top left;
  transform-origin: top left;
  -webkit-transition: .5s opacity ease-out;
  transition: .5s opacity ease-out;
  width: 320px;
}

.docs dl {
  padding-left: 1em;
}

pre.prettyprint{
  text-align: left;
  overflow: auto;
  padding: .5em;
  font-size: .9em;
}

.markup-wrap pre.prettyprint,
.markup-wrap .code-box{
    text-align: left;
    margin: 0;
    width: 100%;
    max-height: 20em;

    overflow: auto;
    font-size: .9em;
    box-shadow: inset 1px 1px 4px grey;
    padding: .5em;
}

.markup-wrap .code-box code{
    display: block;
    text-align: left;
    white-space: nowrap;
}

.panel-footer span {
  line-height: 30px;
  white-space: nowrap;
  display: inline-block;
}

progress {
  display: none;
  float: right;
}

#zip {
  display: none;
}

#byob {
  margin-top: 2em;
}
#byob label {
  display: block;
  background: #f8f8f8;
  cursor: pointer;
  padding: .5em 1em;
}
#buildBundle {
  margin-right: 1em;
}
#byob input[type=checkbox] {
  float: right;
}

/*
a.top {
  clear: both;
  float: right;
}
*/
@media screen and (max-width: 400px) {
  .panel-footer .btn {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .demo {
    -webkit-transform: scale(.6);
    transform: scale(.6);
    margin: -70px auto;
  }
  .demo iframe {
    pointer-events: none;
  }
}
/*
@media screen and (max-width: 960px) {
  header {
    text-align: center;
  }
}

@media screen and (max-width: 1280px) {
  article {
    max-width: 800px;
  }
}
